In [128]:
import pandas as pd

DDL = pd.read_csv("DDL_SELECTED.csv")
SPIDER = pd.read_csv("SPIDER_SELECTED.csv", index_col=0)

In [132]:
SPIDER.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224 entries, 0 to 49
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   original_idx         224 non-null    int64
 1   db_id                224 non-null    object
 2   query                224 non-null    object
 3   question             224 non-null    object
 4   query_toks           224 non-null    object
 5   query_toks_no_value  224 non-null    object
 6   question_toks        224 non-null    object
 7   HAVING               224 non-null    int64
 8   ORDER BY             224 non-null    int64
 9   GROUP BY             224 non-null    int64
 10  JOIN                 224 non-null    int64
 11  SELECT               224 non-null    int64
dtypes: int64(6), object(6)
memory usage: 22.8+ KB

In [133]:
DDL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   db_id       444 non-null    object
 1   table_name  444 non-null    object
 2   CREATE      444 non-null    object
 3   INSERT      444 non-null    object
dtypes: object(4)
memory usage: 14.0+ KB

In [153]:
qNL1 = "List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born."
qNL2 = "How many departments are led by heads who are not mentioned?"
print(SPIDER[SPIDER['question'] == qNL1]['query'][1])
print(SPIDER[SPIDER['question'] == qNL2]['query'][0])

SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'
SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);

In [161]:
SPIDER[SPIDER['question'] == qNL1].loc[:, 'query'].values[0]

"SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'"