In [92]:
import pandas as pd

DDL = pd.read_csv("DDL_TABLE.csv")
SPIDER = pd.read_csv("SPIDER_248.csv", index_col=0)
# merged_df = pd.merge(SPIDER, DDL, on='db_id', how='left')
# merged_df.to_csv("DATASET.csv")

In [93]:
DDL

,db_id,table_name,CREATE,INSERT
0,department_management,department,CREATE TABLE IF NOT EXISTS department (\n\tDep...,"INSERT INTO department VALUES(1,'State','1789'..."
1,department_management,head,CREATE TABLE IF NOT EXISTS head (\n\thead_ID i...,"INSERT INTO head VALUES(1,'Tiger Woods','Alaba..."
2,department_management,management,CREATE TABLE IF NOT EXISTS management (\n\tDep...,"INSERT INTO management VALUES(2,5,'Yes');\nINS..."
3,farm,city,"CREATE TABLE city (\n City_ID int,\n Offici...","INSERT INTO city VALUES (1, 'Grand Falls/Grand..."
4,farm,farm,"CREATE TABLE farm (\n Farm_ID int,\n Year ...","INSERT INTO farm VALUES (1, 1927, 5056.5, 3900..."
...,...,...,...,...
217,mountain_photos,photos,CREATE TABLE IF NOT EXISTS photos (\n id se...,"INSERT INTO photos (camera_lens_id, mountain_i..."
218,program_share,program,CREATE TABLE IF NOT EXISTS program (\n Prog...,"INSERT INTO program (Program_ID, Name, Origin,..."
219,program_share,channel,CREATE TABLE IF NOT EXISTS channel (\n Chan...,"INSERT INTO channel (Channel_ID, Name, Owner, ..."
220,program_share,broadcast,CREATE TABLE IF NOT EXISTS broadcast (\n Ch...,"INSERT INTO broadcast (Channel_ID, Program_ID,..."
221,program_share,broadcast_share,CREATE TABLE IF NOT EXISTS broadcast_share (\n...,"INSERT INTO broadcast_share (Channel_ID, Progr..."