In [9]:
import pandas as pd

DDL = pd.read_csv("DDL_SELECTED.csv")
SPIDER = pd.read_csv("SPIDER_SELECTED.csv", encoding='cp949')

In [11]:
SPIDER.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   original_idx         224 non-null    int64
 1   db_id                224 non-null    object
 2   query                224 non-null    object
 3   question             224 non-null    object
 4   query_toks           224 non-null    object
 5   query_toks_no_value  224 non-null    object
 6   question_toks        224 non-null    object
 7   HAVING               224 non-null    int64
 8   ORDER BY             224 non-null    int64
 9   GROUP BY             224 non-null    int64
 10  JOIN                 224 non-null    int64
 11  SELECT               224 non-null    int64
dtypes: int64(6), object(6)
memory usage: 21.1+ KB

In [3]:
DDL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   db_id       434 non-null    object
 1   table_name  434 non-null    object
 2   CREATE      434 non-null    object
 3   INSERT      434 non-null    object
dtypes: object(4)
memory usage: 13.7+ KB

In [153]:
qNL1 = "List the states where both the secretary of 'Treasury' department and the secretary of 'Homeland Security' were born."
qNL2 = "How many departments are led by heads who are not mentioned?"
print(SPIDER[SPIDER['question'] == qNL1]['query'][1])
print(SPIDER[SPIDER['question'] == qNL2]['query'][0])

SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'
SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);

In [161]:
SPIDER[SPIDER['question'] == qNL1].loc[:, 'query'].values[0]

"SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'"

array([[11, 'department_management',
        'SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);',
        ..., 0, 0, 2],
       [13, 'department_management',
        "SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'",
        ..., 0, 4, 2],
       [14, 'department_management',
        'SELECT T1.department_id ,  T1.name ,  count(*) FROM management AS T2 JOIN department AS T1 ON T1.department_id  =  T2.department_id GROUP BY T1.department_id HAVING count(*)  >  1',
        ..., 1, 1, 1],
       ...,
       [7941, 'dog_kennels',
        'SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1',
        ..., 1, 2, 1],
       [7954, 'dog_kennels',
        'SELECT T1.name ,  T2.date_of_treatment FROM Dogs AS T1 JOIN Treatments AS T2 ON T1.dog_id  =  T2.dog_id WHERE T1.breed_code  =  ( SELECT breed_code FROM Dogs GROUP BY breed_code ORDER BY count(*) ASC LIMIT 1 )',
        ..., 1, 1, 2],
       [7955, 'dog_kennels',
        'SELECT T1.name ,  T2.date_of_treatment FROM Dogs AS T1 JOIN Treatments AS T2 ON T1.dog_id  =  T2.dog_id WHERE T1.breed_code  =  ( SELECT breed_code FROM Dogs GROUP BY breed_code ORDER BY count(*) ASC LIMIT 1 )',
        ..., 1, 1, 2]], dtype=object)